body {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #D6E6FF, #F6F8FC);
}
/* Header */
header {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding: 2px;
	background-color: #4B2A73;
	color: #FFFFFF;
}
/* Nav */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 5px;
	justify-content: center;
	background-color: #3C4A73
}

nav ul li {
	margin: 0 15px;
}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #5567A3;
	color: #00332C;
	border-radius: 4px;
}
/* Main */
main {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

main section {
	padding: 20px;
	margin: 20px;
	background-color: #FAFCFF;
	border: 1px solid #C5E1A5;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Footer */
footer {
	font-size: 0.8em;
	text-align: center;
	background-color: #3C4A73;
	padding: 15px;
	color: #FFFFFF;
}
.content-box {
	background-color: #FAFCFF;
	margin: 20px auto;
	padding: 20px;
	max-width: 800px;
	border: 1px solid #CCCCCC;
	transition: transform 0.3s ease;
}
.content-box:hover {
	transform: scale(1.02);
}
/* table styling */

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}
caption {
font-weight: bold;
margin-bottom: 10px;
}

th, td {
border: 1px solid #DDDDDD;
padding: 12px;
text-align: left;
}

thead th {
background-color: #E1E8F9;
}
/* Contact */
#contact {
	margin: 20px auto;          
	max-width: 800px;         
	width: 100%;
}
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
form input, form textarea {
	transition: border-color 0.3s ease;
	border: 1px solid #CCCCCC;
}

form input:focus,
form textarea:focus,
form input:hover,
form textarea:hover {
    outline: none;
    border-color: #5567A3;
}

form input[type="submit"] {
  transition: background-color 0.3s ease;
}
form input[type="submit"]:hover {
  background-color: #5567A3;   
  transform: scale(1.03);
}


/* Phone */
@media (max-width: 599px) {
  main {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
  nav ul {
	display: flex;
	justify-content: center;
	gap: 6px;
  }
  #contact form {
	  display: flex;
	  flex-direction: column;
	  gap: 10px;
	  }
}


/* Tablet  */
@media (min-width: 600px) and (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
    }

    #contact form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* Desktop  */
@media (min-width: 901px) {
    main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    #contact form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}