body {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #E0F7FA, #FFFFFF);
}

header {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding: 2px;
	background-color: #00796B;
	color: #FFFFFF;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	background-color: #004D40
}

nav ul li {
	margin: 0 15px;
}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
}

nav ul li a:hover {
	background-color: #26A69A;
	color: #00332C;
	border-radius: 4px;
}

main section {
	padding: 20px;
	margin: 20px;
	background-color: #F1F8E9;
	border: 1px solid #C5E1A5;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
	font-size: 0.8em;
	text-align: center;
	background-color: #263238;
	padding: 15px;
	color: #FFFFFF;
}